@page "/loginScreen"
@using ScavengeRUs.Data
@inject NavigationManager NavigationManager

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<EditForm Model="@user" OnValidSubmit="@ValidateUser">
    <center> 
        <div>
            <br /> <br /> <br /> 
        </div>
        <div class="border logInWrapper"> 
            <br />
            <div class="col-12">
                <h3 style = "color:#3998E8; font-weight: bold">ScavengeRUs Login</h3>
            </div>
            <div>
                <br />
                <h5 class="red">@feedback</h5>
                <br />
            </div>
            <div class="inputField">
                <input class="form-control inputs" @bind="@user.Email" placeholder="Email Address" />
            </div>
            <br />
            <div class="inputField">
                <input type="password" class="form-control inputs" @bind="@user.Password" placeholder="Password" />
            </div>
                <br />
                <div>
                    <input type="submit" class="btn btn-primary" value="Login" />
                </div>
                <div>
                    <br />
                    <p>OR</p>
                    <div>
                        <button name="signupButton" class="btn btn-primary" @onclick="SignUp">SignUp</button>
                        <br /> <br />
                    </div>
                </div>
        </div>
    </center>
            
</EditForm>


@code {
    private Models.Account user;
    private string feedback;
    private string secretKey;

    protected override Task OnInitializedAsync()
    {
        user = new Models.Account();
        return base.OnInitializedAsync();
    }
    private async Task<bool> ValidateUser()
    {
        user.Email = user.Email.ToLower();

        Console.WriteLine(user.Email);
        if(DBTest.validateUser(user.Email, user.Password))
        {
            secretKey = DBTest.login(user.Email, user.Password);
            navigateToMain(secretKey);
        }
        else
        {
            feedback = "Wrong Username or Password";
        }

        return await Task.FromResult(true);
    }

    private async Task<bool> navigateToMain(string addOn)
    {
        NavigationManager.NavigateTo("/" + addOn);
        return await Task.FromResult(true);
    }

    private async Task<bool> SignUp()
    {
        NavigationManager.NavigateTo("/signUpScreen");
        return await Task.FromResult(true);
    }

}



<style>
    .page {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.form-control {
    width: 120%;
}

.logInWrapper{
    max-width: 600px;
}


.inputs {
    width: 50%;
}
.border{
    border: 2px solid;
    border-radius: 12px;
    padding: 5px
}
.red{
    color: red;
    font-size: small;
    font-style: italic;
}
.sidebar{
    display:none;
    visibility = hidden;
}
@@media (max-width:600px){
    .border
    {
        border:0px solid !important
    }
}
</style>
